body {
    margin: 0;
    box-sizing: border-box;
    font-family: Pacifico, sans-serif;
    background-image: url(https://cdn.pixabay.com/photo/2020/11/14/11/10/lake-5741297_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
#the-farm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
#duck-house {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(90%, 1vw, 60%);
    background-color: antiquewhite; 
    border: 1px solid black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1), 0 0 30px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}
span {
    font-size: calc(0.8rem + 1vw);
    padding-top: 0.5em;
}
#entry-sign {
    font-size: clamp(0.5rem, 3.5vw, 5rem);
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
}
#counter {
    padding: 0.5em;
    border-bottom: 4px dotted black;
}
#profile-pic {
    background-color: bisque;
    width: 50%;
    padding: 1em;
    border: 2px solid black;
    border-radius: 2px;
    box-shadow: 10px 10px;
}
p {
    font-size: calc(0.35rem + 1vw);
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid black;
    max-width: 100%;
    overflow: hidden;
}
p img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
/* Spinner */
.spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid #ccc;
    border-top: 3px solid #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#happy-duck {
    display: flex;
    font-size: calc(0.8rem + 1vw);
    font-family: Pacifico, sans-serif;
    background: radial-gradient(circle,#4dcb68,#0b6d11);
    box-shadow: 5px 5px rgba(25 , 150, 25, 0.5);
    border-radius: 6px;
    margin: 1em;
    cursor: pointer;
}
@media (max-width: 480px) {
    /* smartphones*/
  }
  @media (max-width: 768px){
    /* tablets */
    
  }
  @media (max-width: 1024px) {
    /* tablets landscape, small laptops */
  }
  @media (min-width: 1200px) {
    /* large desktops */
  }