body {
    margin: 0;
    box-sizing: border-box;
    font-family: Pacifico, sans-serif;
}
#the-farm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#duck-house {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: 2em;
    background-color: antiquewhite; 
    border: 1px solid black;
}
#entry-sign {

}
#profile-pic {
    background-color: bisque;
    width: 50%;
    padding: 1em;
    border: 2px solid black;
    border-radius: 2px;
    box-shadow: 10px 10px;
}
p {
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid black;
}
img {
    width: 100%;
    object-fit: cover;
}
/* Spinner */
.spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid #ccc;
    border-top: 3px solid #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#happy-duck {
    font-family: Pacifico, sans-serif;
    background: radial-gradient(circle,#4dcb68,#06470a);
    box-shadow: 5px 5px rgba(25 , 150, 25, 0.5);
    border-radius: 6px;
    margin: 1em;
    cursor: pointer;
}